extends layout

block content
  #wrapper 
    #login-container
      #login-buttons
        img(src='https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png', height='120')
        a#github-login-button(href="/login") Login with Github
